In [14]:
import pandas as pd

df = pd.read_excel("data/wine_sales.xlsx")

new_columns = ['id', 'date_int', 'product_name', 'price', 'sales', 'reviews', 'brand', 'searches']
df.columns = new_columns

df.head(4)

,id,date_int,product_name,price,sales,reviews,brand,searches
0,537013830676,201902,江小白品鉴酒更多优惠请见详情页非卖品请勿下单！,29.0,121,67514.0,江小白,3538
1,525501233363,201902,牛栏山 46度二锅头500mL*12整箱（绿瓶）装 清香型,78.0,8027,26144.0,牛栏山,2473
2,540011154689,201902,泸州老窖 泸州原浆柔和 52度 500mL 白酒浓香型,20.0,3116,25921.0,泸州老窖,82010
3,43211682074,201902,红星二锅头酒大二绿瓶56度 500ml清香型白酒酒厂直供,13.0,8703,22575.0,红星,3371

In [15]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 8141 entries, 0 to 8140
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            8141 non-null   int64
 1   date_int      8141 non-null   int64
 2   product_name  8141 non-null   str
 3   price         8141 non-null   float64
 4   sales         8141 non-null   int64
 5   reviews       7081 non-null   float64
 6   brand         8141 non-null   str
 7   searches      8141 non-null   int64
dtypes: float64(2), int64(4), str(2)
memory usage: 508.9 KB

In [16]:
df.describe()

,id,date_int,price,sales,reviews,searches
count,8.141000e+03,8141.000000,8141.000000,8141.000000,7081.000000,8141.000000
mean,4.731799e+11,201831.078737,397.776494,335.266798,1148.968084,33334.006142
std,1.700738e+11,39.173558,639.946459,1122.819803,3282.763239,32447.983454
min,1.379690e+10,201805.000000,0.000000,0.000000,0.000000,28.000000
25%,5.237269e+11,201808.000000,99.900000,15.000000,47.000000,3107.000000
50%,5.377758e+11,201811.000000,198.000000,56.000000,203.000000,22618.000000
75%,5.425821e+11,201812.000000,399.000000,208.000000,825.000000,61910.000000
max,5.649853e+11,201902.000000,11512.800000,26620.000000,67514.000000,100404.000000

In [17]:
filas_con_almenos_un_na = df[df.isna().any(axis=1)]
filas_todas_na = df[df.isna().all(axis=1)]
print(f"Filas con almenos un na: {len(filas_con_almenos_un_na)}")
print(f"Filas con todos los valores en na: {len(filas_todas_na)}")
print(f"total filas: {len(df)}")

Filas con almenos un na: 1060
Filas con todos los valores en na: 0
total filas: 8141

In [18]:
print(df.isna().sum())

id                 0
date_int           0
product_name       0
price              0
sales              0
reviews         1060
brand              0
searches           0
dtype: int64