# Libreries

In [15]:
import pandas as pd
import matplotlib.pyplot as plt

# Importing data

In [18]:
df = pd.read_csv("data/cicloestaciones_ecobici.csv")

# Exploring data

In [19]:
print(df.head(5))

   sistema num_cicloe       calle_prin                 calle_secu  colonia  \
0  Ecobici        423            Moras  Eje 8 Sur Jose Maria Rico  Acacias
1  Ecobici        437            Moras                    Comunal  Acacias
2  Ecobici        438    Adolfo Prieto         Jose Maria Olloqui  Acacias
3  Ecobici        439           Amores           Avenida Coyoacan  Acacias
4  Ecobici        440  Martin Mendalde           M. Lopez Cotilla  Acacias

        alcaldia    latitud   longitud sitio_de_e    estatus
0  Benito Juarez  19.367816 -99.175269     Arroyo  Instalada
1  Benito Juarez  19.364916 -99.175985     Arroyo  Instalada
2  Benito Juarez  19.364730 -99.174447     Arroyo  Instalada
3  Benito Juarez  19.362037 -99.172683     Arroyo  Instalada
4  Benito Juarez  19.361699 -99.171387     Arroyo  Instalada

In [20]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 989 entries, 0 to 988
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sistema     677 non-null    str
 1   num_cicloe  677 non-null    str
 2   calle_prin  677 non-null    str
 3   calle_secu  677 non-null    str
 4   colonia     677 non-null    str
 5   alcaldia    677 non-null    str
 6   latitud     677 non-null    float64
 7   longitud    677 non-null    float64
 8   sitio_de_e  677 non-null    str
 9   estatus     677 non-null    str
dtypes: float64(2), str(8)
memory usage: 77.4 KB

In [21]:
df.describe()

          latitud    longitud
count  677.000000  677.000000
mean    19.408342  -99.167567
std      0.031142    0.016505
min     19.344060  -99.212845
25%     19.383904  -99.178272
50%     19.412776  -99.167387
75%     19.432452  -99.156330
max     19.471110  -99.130918

In [22]:
print(df["sistema"].unique())
filas_con_almenos_un_na = df[df.isna().any(axis=1)]
filas_todas_na = df[df.isna().all(axis=1)]
print(len(filas_con_almenos_un_na))
print(len(filas_todas_na))
print(len(df))

<StringArray>
['Ecobici', nan]
Length: 2, dtype: str
312
312
989

In [28]:
# Asumiendo que las columnas se llaman 'lat' y 'lon' (ajusta si se llaman distinto)
# Si se llaman 'location_lat', cambia el nombre abajo.

# 1. Eliminar nulos
df_clean = df.dropna(subset=['latitud', 'longitud']).copy()

# 2. Filtro de "Coherencia Geográfica" (Tip Pro)
# La CDMX está aprox entre Lat 19.0 y 19.6, Lon -99.0 y -99.4
# Descartamos errores de dedo extremos
mask_valido = (df_clean['latitud'] > 18) & (df_clean['latitud'] < 20) & \
              (df_clean['longitud'] > -100) & (df_clean['longitud'] < -98)

df_clean = df_clean[mask_valido]

print(f"Filas originales: {len(df)}")
print(f"Filas limpias: {len(df_clean)}")
print(f"Basura eliminada: {len(df) - len(df_clean)}")

Filas originales: 989
Filas limpias: 677
Basura eliminada: 312

In [24]:
print(len(df_cleaned))

677

In [25]:
# Visualización rápida (Scatter plot) para ver la forma de la ciudad
plt.figure(figsize=(10, 8))
plt.scatter(df_clean['lon'], df_clean['lat'], s=5, alpha=0.5)
plt.title("Distribución espacial de estaciones (Lat/Lon)")
plt.xlabel("Longitud")
plt.ylabel("Latitud")
plt.grid(True)
plt.show()

NameError: name 'df_clean' is not defined